node_modules
.next
out
dist
build
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
next-env.d.ts
.tsbuildinfo
*.tsbuildinfo
coverage

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

# Cloudflare generated env types
cloudflare-env.d.ts

!.env.example
